.file-upload[data-v-9e8cc076] .v-field__input{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.file-upload[data-v-9e8cc076] .v-chip__content{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
